{% extends "forum/base/base.html" %}
{% load static %}
{% block title %}FAQ page{% endblock title %}
{% block strip_css %}<link rel="stylesheet" href="{% static 'forum/css/strip.css' %}">{% endblock strip_css %}
{% block content %}
		
	<section>
		<div class="gap2 color-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner">
							<i><img src="{% static 'forum/images/faq.png' %}" alt=""></i>
							<h1>Frequently Asked Questions</h1>
						</div>
						<nav class="breadcrumb">
						  <a class="breadcrumb-item" href="{% url 'home_page' %}">Home</a>
						  <span class="breadcrumb-item active">FAQ</span>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
							<aside class="sidebar static">
								<!-- disabling socials widget-->
								<!--
								<div class="widget">
									<h4 class="widget-title">Socials</h4>
									<ul class="socials">
										<li class="facebook">
											<a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
										</li>
										<li class="twitter">
											<a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
										</li>
										<li class="google">
											<a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
										</li>
									</ul>
								</div>
							-->
							{% if user.is_athenticated %}
								<div class="widget stick-widget">
									<h4 class="widget-title">Quick Navigation</h4>
										<ul class="naves">
											<li>
												<i class="ti-files"></i>
												<a href="{% url 'home_page' %}" title="">Home Feed</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="{% url 'profile_page' user.username %}" title="">Profile</a>
											</li>
											<li>
												<i class="ti-power-off"></i>
												<a href="{% url 'faq_page' %}" title="">Logout</a>
											</li>
										</ul>
								</div><!-- Shortcuts -->
							{% endif %}
							</aside>	
						</div>
						<div class="col-lg-9">
							<div class="faq-area">
								<h2>FAQ!</h2>
								<div class="accordion" id="accordion">
								  <div class="card">
									<div class="card-header" id="headingOne">
									  <h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										  How to Change the Password ?
										</button>
									  </h5>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
									  <div class="card-body">
										Please click on the "Forgot Password" in the Login Page 
										<ol>
											<li>Enter The registered Email Id </li>
											<li>Verify the new Password </li>
											<li>Use the new password to enter form next time onwards </li>
										</ol>
									  </div>
									</div>
								  </div>
								  <div class="card">
									<div class="card-header" id="headingTwo">
									  <h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										  How to Register If I am a new User ?
										</button>
									  </h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
									  <div class="card-body">
										If you are a New user,No worries welcome to the portal
										<ol>
											<li>When you enter the Login Page click on the Register User </li>
											<li>Create a Profile </li>
											<li>Password Protect the Profile  </li>
											<li>Post away </li>
										</ol>	 
									  </div>
									</div>
								  </div>
								  <div class="card">
									<div class="card-header" id="headingThree">
									  <h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										  How to Post Comments ?
										</button>
									  </h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
									  <div class="card-body">
										The post feature will be visible on the top Center of the screen
										<ol>
											<li>Enter the Post title </li>
											<li>Enter the text you want to ask the Lecturers  </li>
											<li>Choose a topic under which you want to classify the Post under</li>
											<li>Be cautious not to include Explicit as it will automatically detect it and Ask to retype the contents</li>
											<li>Click the Post button to submit the post to the portal </li>
										</ol>	
									  </div>
									</div>
								  </div>
								  <div class="card">
									<div class="card-header" id="headingfour">
									  <h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
											What type of posts are allowed ?
										</button>
									  </h5>
									</div>
									<div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
									  <div class="card-body">
										<ol>
											<li>Posts related to college specifically.</li>
											<li> Doubt posts and other posts can be posted</li>
										</ol>
									  </div>
									</div>
								  </div>
								  <div class="card">
									<div class="card-header" id="headingfive">
									  <h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
										I'm not able to post something.Help!
										</button>
									  </h5>
									</div>
									<div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
									  <div class="card-body">
										 Don't Panic. Kindly contact the admins at admin@abc.com
									  </div>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% endblock content %}

		{% block strip_js %}<script src="{% static 'forum/js/strip.pkgd.min.js' %}"></script>{% endblock strip_js %}