{% extends "forum/base/base.html" %}
{% load static %}
{% block title %}Post page{% endblock title %}
{% block strip_css %}<link rel="stylesheet" href="{% static 'forum/css/strip.css' %}">{% endblock strip_css %}
{% block content %}

    <section>
		<div class="gap ext-bottom">
			<div class="container">
				<div class="row">
					<div class="offset-lg-1 col-lg-10">
						<div class="detail-page">
							<div class="detail-meta">
								<h2>{{ post.post_title }}</h2>
								
								<div class="post-time">
									<div class="author-thumb">
									<img src="{% static 'forum/images/resources/chatlist2.jpg' %}" alt="">
									<span><a href="#" title="">by {{ post.author }}</a></span>
								</div>
									<span class="post-date">
										<i class="fa fa-calendar"></i>
										<a title="" href="#">{{ post.post_timestamp }}</a>
									</span>
									<span class="coments">
										<i class="fa fa-comments"></i>
										<a title="" href="#">{{ replies|length }}</a>
									</span>
								</div>
								<p>
									{{ post.post_text }}
								</p>
								<!-- <blockquote>
									<p>
										“  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua. ”
									</p>
								</blockquote>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
								</p>
								<figure class="alignright">
									<img src="images/resources/blog-detail2.jpg" alt="">
								</figure>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipi slabore et dolore magna aliqua. Ut enim ad minim irure dolor in reprehenderit.
								</p>
								<ul>
									<li>Integer at diam gravida fringilla Nibh preti purus</li>
									<li>Mauris laoreet, nisl id faucibus pellentesque, mi mi</li>
									<li>Vivamus accumsan nisl id massa finibus aliquet</li>
									<li>justo accumsan nisi, non congue metus</li>
									<li>velit id metus ullamcorper tristique</li>
									<li>Nisi rutrum, eu ornare augue tristique.</li>
								</ul> -->
								<div class="tag-n-cat">
									<div class="tags">
										<span><i class="fa fa-tags"></i> Post Tags:</span>
										{% for tag in tags %}
										<a href="#" title="">{{ tag.tag_name }}</a>
										{% endfor %}
									</div>
									<!-- <div class="tags">
										<span><i class="fa fa-filter"></i> Post Categories:</span>
										<a href="#" title="">News</a>
										<a href="#" title="">ideas</a>
										<a href="#" title="">collection</a>
										<a href="#" title="">exclusive</a>
										<a href="#" title="">features</a>
									</div> -->
								</div>
								<!-- <div class="gap-60">
									<div class="site-admin">
										<div class="admin-avatar">
											<img src="images/resources/admin4.jpg" alt="">
										</div>
										<div class="admin-postmeta">
											<h4>Sarah William</h4>
											<span>Web Developer, Online Instructor</span>
											<p>
												I always loved computers and technology in general. In 2011 I was lucky enough to be invited.
											</p>
											
										</div>
									</div>	
								</div> -->
								<div class="gap-60 no-top">
									<div class="comment-area">
										<h4 class="comment-title">{{ replies|length }} comments</h4>
										<ul class="comments">
											{% for reply in replies %}
											<li>
												<div class="comment-box">
													<div class="commenter-photo">
														<img alt="" src="{% static 'forum/images/resources/commenter-1.jpg' %}">
													</div>
													<div class="commenter-meta">
														<div class="comment-titles">
															<h6>{{ reply.author }}</h6>
															<span>{{ reply.reply_timestamp }}</span>
															<!-- <a title="" href="#" class="reply">reply</a> -->
														</div>
														<p>
															{{ reply.reply_text }}
														</p>
													</div>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div><!-- comments sec -->
								<div class="gap-60 no-gap">
									<h4 class="comment-title">Leave a Comment</h4>
									<div class="contact-form">
										
										<form method="post" action="/create/reply/{{ post.id }}">
											{% csrf_token %}
											<!-- <div class="form-group">	
											  <input type="text" id="input" />
											  <label class="control-label" for="input">First & Last Name</label><i class="mtrl-select"></i>
											</div>
											
											<div class="form-group">	
											  <input type="text" required="required"/>
											  <label class="control-label" for="input">Subject</label><i class="mtrl-select"></i>
											</div> -->
											<div class="form-group">	
											  <!-- <textarea rows="4" id="textarea" ></textarea> -->
											  {{ reply_form.reply_text }}
											  <!-- <label class="control-label" for="textarea">Message</label><i class="mtrl-select"></i> -->
											
											<label class="control-label" ></label><i class="mtrl-select"></i>
											</div>
											<div class="submit-btns">
												<button  type="submit">Submit</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock content %}

	{% block strip_js %}<script src="{% static 'forum/js/strip.pkgd.min.js' %}"></script>{% endblock strip_js %}