{% extends "forum/base/base.html" %}
{% load static %}

{% block title %}Search{% endblock title %}

{% block strip_css %}<link rel="stylesheet" href="{% static 'forum/css/strip.css' %}">{% endblock strip_css %}
{% block content %}
	
	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row" id="page-contents">
					<div class=" col-lg-12">
						<div class="blog-sec">
							<div class="post-filter-sec">
								<form method="GET" class="filter-form">
									<!-- <input type="post" placeholder="Search post"> -->
									{{ postFilter.form.post_title }}
									<!-- <button><i class="ti-search"></i></button> -->
									<div class="purify">
										<span>filter by</span>
										<!-- Tags: -->
											{{ postFilter.form.tags }}
										<!-- Post Author: -->
											{{ postFilter.form.author }}
										<button id="filterBtn" class="btn btn-view" type="submit">Filter</button>
									</div>
								</form>
							</div>
							<div class="row">
								{% for post in posts %}
								<!-- #################################################################### -->
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<!-- <img alt="" src="images/resources/bloggrid-1.jpg">
											<i class="fa fa-video-camera"></i> -->
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="{% url 'post_page' post.id %}">{{ post.post_title }}</a></h4>
												{% if post.post_text|length > 100  %}
													<p>{{ post.post_text|slice:":100" }}....</p>
												{% else %}
													<p>{{post.post_text}}</p>
												{% endif %}
												<span class="p-date">by <a href="#" title="">{{ post.author }}</a> - {{ post.post_timestamp }} </span>
											</div>	
											<div class="g-post-ranking">
												<!-- <a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 likes</a> -->
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i>5 replies</a>
											</div>
										</div>
									</div>
								</div>
								<!-- #################################################################### -->
								{% endfor %}
							</div>
							<!-- <button class="btn-view btn-load-more">Load More</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		let formField = document.getElementById('id_post_title');
		formField.placeholder = "Enter the post name...";

		// let optionChoiceField = document.getElementsByClassName('chosen-single')[0];

		// optionChoiceField.innerHTML = "form-control"

		// document.getElementById('filterBtn').click();
	</script>

	{% endblock content %}

	{% block strip_js %}<script src="{% static 'forum/js/strip.pkgd.min.js' %}"></script>{% endblock strip_js %}