{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Landing Page</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'forum/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/responsive.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Site name</h1>
						<p>
							Experience delightful UI with unparalleled speed.
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'forum/images/wink.png' %}" alt=""></span>
						</div>
						<!-- <a href="#" title="" class="folow-me">Follow Us on</a> -->
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="align-center" style="margin-top: 25%; margin-left: 40%;">
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
							<p>
								Hop in and start using (sitename)
                            </p>
                            
                            
						<form method="POST" >
							{% csrf_token %}
							<div class="form-group">
                                {{ form }}	
							
                              <label class="control-label" ></label><i class="mtrl-select"></i>
							</div>
							
							<div class="submit-btns">
								<div class="align-left">
									<br>
									<button class="mtr-btn signin" type="submit"><span>Send to mail</span></button><br>
								</div>
								
							</div>
						</form>
					</div>
			</div>
		</div>
	</div>
</div>


	<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.22/darkreader.js"></script>
	<script src="{% static 'forum/js/main.min.js' %}"></script>
	<script src="{% static 'forum/js/script.js' %}"></script>

</body>	

</html>